:root {

    --main: #cc2649;
    --secondary: #992c4b;
    --tertiary: #66324c;
    --quaternary: #33384e;
    --quinary: #003e4f;
    --senary: #005f6a;
    --mainFont: 'Sixtyfour', sans-serif;


    /* Posible modo claro*/

    --clarMain: #f6d365;
    --clarSecondary: #fda085;
    --clarTertiary: #f6d365;
    --clarQuaternary: #f6d365;
    --clarQuinary: #f6d365;
    --clarSenary: #f6d365;


}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos de la página principal*/
html {
    font-size: 62.5%;
}

body {
    font-family: var(--mainFont);
    font-size: 1.6rem;
    line-height: 1.6;
    background-color: var(--quaternary);
    display: flex; /*Flex heredado para que el footer siempre este abajo, se sobreescribe para lo que no lo necesite*/
    flex-direction: column;
    min-height: 100rem;
}


/*Estilo de los hs*/
h1 {
    font-size: 3.6rem;
    font-family: var(--mainFont);
    color: var(--main);
    text-align: center;
    margin: 2rem 0;
}

h2 {
    font-size: 3rem;
    font-family: var(--mainFont);
    color: var(--main);
    margin: 2rem 0;
}

/* Contenedor principal */
.main-container {
    width: 90%;
    margin: 0 auto;
    max-width: 120rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }
    
}


/*Pude haber usado main y section, pero me dio caliweba porque ya habia empezado jeje
    Informacion del juego, columna 2 de la pagina principal

*/
.info {
    max-width: fit-content;
    padding: 1rem;
}

.info h2 {
    font-size: 3rem;
    margin: 1rem;
    text-align: center;
}

.info p {
    margin-top: 2rem;
    ;
    font-size: 2.2rem;
    font-weight: bolder;
    background-color: var(--quinary);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);

}

/*Animacion que es overengineering pero que me gusta siempre usar*/
.info span {
    font-size: 2rem;
    margin: 1rem;
    font-weight: bold;

    text-transform: uppercase;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;

    color: #000;
    background-clip: text;
    text-fill-color: transpaent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;

    display: inline-block;

}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}


/*Segunda seccion de la principal, leaderboard, la lista despues se inyecta desde js*/
.leaderboard {
    max-width: fit-content;
}

.players {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    background-color: var(--quinary);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

/*Buttons!!!!!!!!!!!!!!!!!!!!!!*/
.button-play {
    display: block;
    margin: 2rem auto;
    padding: 12.4rem 2rem;

    font-size: 2.2rem;
    font-weight: bolder;

    text-transform: uppercase;
    background-color: var(--main);
    color: var(--quaternary);


    border-radius: 1rem;

    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    text-align: center;
    text-decoration: none;

}

.button-play:hover {
    transform: scale(1.1);
    background-color: var(--secondary);
    color: var(--quaternary);
}

.button-play:active {
    transform: scale(1);
    background-color: var(--tertiary);
    color: var(--quaternary);
}



/* Estilo de los formularios, pensar si hacer varios o almacenar*/

.form-container{
    margin-left: 20rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;


}

.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;
    background-color: var(--quinary);
    border-radius: 1rem;
    
    justify-content: center;
   
   
    
}

@media screen and (min-width: 768px){
    .form{
        width: 50%;
    }
    
}




/*Estilo de los inputs*/
.field{
    padding: 2rem;
    background-color: var(--quaternary);
    border-radius: 1rem;
    color: var(--main);
    font-size: 2rem;
    
}::placeholder{
    color: white;
    font-size: 1.5rem;
    opacity: 0.5;

}

.field:focus{
    font-size: 2.5rem;
    font-weight: bold;
    border: 0.5rem solid var(--main);

}


/*More BUTTONSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS*/

.button{
    font-family: var(--mainFont);
    padding: 2rem;
    background-color: var(--main);
    border-radius: 1rem;
    color: var(--quaternary);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    text-align: center;
    text-decoration: none;
    text-decoration: none;
    margin: 2rem 0;
} 

.button:hover{
    transform: scale(1.1);
    background-color: var(--secondary);
    color: var(--quaternary);
    transition: all 0.3s;
}

.button-start{
    display: block;
    margin: 2rem auto;
    padding: 2rem 4rem;
    font-size: 2.2rem;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: var(--main);
    color: var(--quaternary);
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    text-align: center;
    text-decoration: none;

}

.button-sorteo:hover{
    transform: scale(1.1);
    background-color: var(--secondary);
    color: var(--quaternary);
    transition: all 0.3s;
}

@media screen and (max-width: 768px){
    .button-sorteo{
        width: 100%;
    }
    
    
}
/*MOARRRRRRRRRRRRRRRRRRRRRR BUTTONSSSS*/

.button-sorteo{
    display: block;
    margin: 2rem auto;
    padding: 2rem 4rem;
    font-size: 2.2rem;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: var(--main);
    color: var(--quaternary);
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    text-align: center;
    text-decoration: none;


}




/*Contenedor para toda la zona de juegos, quiza lo cambio luego, anotar*/

.playzone{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    text-align: center;
    
}
    @media screen and (max-width: 768px){
        .playzone{
            flex-direction: row;
        }
        .playzone, .player-list{
            flex-direction: column;
        }

        
    }

/*Contenedor de los jugadores*/
 .player-list{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0;
    padding: 2rem;
}
    @media screen and (min-width: 768px){
       
     .player-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
      
        }
        
    }



 
    


/* Jugadores  */
.player-card{
    padding: 2rem;
    background-color: var(--senary);
    border-radius: 1rem;
    color: var(--main);
    font-size: 2rem;


    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    max-width: wrap-content;
    text-overflow: ellipsis;
    overflow:hidden;

}

@media screen and (max-width: 768px){
    .player-list{
        flex-direction: column;
    }
    
}







/*Tablero de juego*/

.tablero{
    display: grid;
    gap: 5rem;
    max-width: 120rem;

    justify-content: space-evenly;
    align-items: center;


    margin: 2rem 0;
    padding: 2rem;

    
    /* background-color: var(--tertiary); */
    border-radius: 1rem;
    
    

}


@media screen and (max-width: 768px){
    .tablero{
        display: flex;
        flex-direction: column;
    }
    
    
}

/*Fila de la tabla*/

.carton{
    display: grid;
    gap: 2rem;
    justify-content: space-evenly;
    background-color: var(--tertiary); 
    border-radius: 1rem;
    padding: 2rem;
    align-items: center;
    padding: 2rem;

}

.carton h3{ 
     
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;


    font-size: 2rem;
    text-align: center;
    margin: 2rem 0;
    color: var(--quaternary);
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    z-index: 1000;

}




    


.fila{
    grid-row: 2;
    display: grid;
    gap: 4rem;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 12rem;
}

.celda{
    
    padding: 4rem;
    background-color: var(--quinary);
    border-radius: 1rem;
    color: var(--main);
    font-size: 2rem;
    text-align: center;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    cursor: pointer; 
    gap: 5rem;
    max-width: 12rem;

}


@media screen and (max-width: 400px){
    .carton .fila .celda{
        font-size: small;
       
       
    }
    .carton{
        gap: 0rem;
        justify-content: center;
        align-items: center;
    }
        .fila{
            gap: 1rem;
            width: 80%;
        }

    .celda{
        padding: 1rem;
        gap: 0.5rem;

    }
}



    /* Falta terminar esto pero no tengo mas tiempo, tqm sergio*/
 





.footer{
    text-align: center;
    margin-top: auto;
    font-size: 2rem;
    color: var(--main);
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--quinary);
    border-radius: 1rem;
    padding: 7rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    
}









/*Modificadores*/

.selected{
    visibility: visible;
    background-color: var(--main);
    color: var(--quaternary);
    font-weight: bold;
    font-size: 2.5rem;
    border: 0.5rem solid var(--quaternary);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
    text-decoration: none;
    text-decoration: none;
    margin: 2rem 0;
}

.selected_number{

    background-color: var(--main);
    color: var(--quaternary);
    
}
.leaderboard-item{
    background-color: var(--senary);
    color: var(--main);
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 1rem 0;

}

.hidden .celda{
    visibility: hidden;
    /* visibility: visible; */
}

.button-reinicio{
    display: block;
    margin: 2rem auto;
    padding: 2rem 4rem;
    font-size: 2.2rem;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: var(--main);
    color: var(--quaternary);
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    text-align: center;
    text-decoration: none;

}
.error{
    color: red;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem 0;
}

.success{
    color: green;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem 0;
}




